img[usemap]{
    border: none;
    width: fit-content;
    max-width: 100%;
    height: auto;
}
body{
    background-color: rgb(204, 47, 47);
}
.login-card{
    border-radius: 2rem;
    height:500px;
    width: 300px!important;
    border-top: 3px rgb(115, 134, 243) solid;
}
.login-card input{
    max-width:170px;
}
.delete-button{
    color: white;
    border-radius: .5rem;
    height: 27px;
    width: 27px;
    padding-top: 0;
    background-color: rgb(217,87,70);
    border: none;
    margin-top: 5px;
}
.delete-button:hover{
    background-color: rgb(181, 79, 66);
}
.team-icon{
    padding: 10px;
    border-radius: 1rem;
}
.dice{
    height:100px;
    width:100px;
    background-color: rgb(206, 206, 206);
    border-radius: 10%;
}