img[usemap]{
    border: none;
    width: fit-content;
    max-width: 100%;
    height: auto;
}
body{
    background-color: rgb(204, 47, 47);
}
.login-card{
    border-radius: 2rem;
    height:500px;
    width: 300px!important;
    border-top: 3px rgb(115, 134, 243) solid;
}
.login-card input{
    max-width:170px;
}