{% extends 'base.html' %}
{% block main_content %}
<div class="container">
    <div class="row justify-content-center mt-5 pt-5 text-center">
        {%if session['games']['permission']=='admin'%}
        <div class="col-12 d-inline-flex justify-content-center mt-5 ">
            <button class="btn btn-primary" style="font-size: 50px;border-radius:30px"  onclick="get_card()">抽卡</button>
        </div>
        {%endif%}
        <h3 class="mb-5 mt-5">你的卡片</h3>
    </div>
    <div class="row text-center p-3 gy-3" style="background-color:rgb(214, 221, 221);border-radius:30px;">
        
            {% for i in cards %}
            <div class="col-3 d-inline-flex justify-content-center">
                <img src="/static/img/cards/card{{i}}.jpg" alt="" class="cards" data-bs-toggle="modal" data-bs-target="#exampleModal{{cards.index(i)}}{{i}}">
            </div>

            <div class="modal fade" id="exampleModal{{cards.index(i)}}{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content d-inline-flex justify-content-center" style="background-color:transparent;border:none">
                    <img src="/static/img/cards/card{{i}}.jpg" alt="" class="cards-large">
                    {%if session['games']['permission']=='admin'%}
                        <div class="modal-footer d-inline-flex justify-content-center border-0">
                            <button class="fa-solid fa-trash btn" style="color:rgb(255, 90, 75);background-color:transparent;font-size:30px" onclick="location.href='/games/{{session['games']['name']}}/cards?delete={{cards.index(i)}}'"></button>
                        </div>
                    {%endif%}
                </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
<script>
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }
    function get_card(){
        location.href='/games/{{session['games']['name']}}/cards?get='+(getRandomInt(19)+1);
    }
</script>
{% endblock %}