{% extends 'base.html' %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-6 mt-5">
            <span class="h1">第{{session['games']['team']}}小隊</span>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-4 mb-3 mt-5 d-inline-flex align-items-center justify-content-center">
            <img src="/static/img/location.webp" alt="" style="height:40px;">
            <span class="h3 pt-3 ps-2">現在位置：{{data[session['games']['team']]['now']}}</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12">
            <img src="/static/img/routemap_2021.png" width="960" height="1286" usemap="#MRTMap">
            <map name="MRTMap">
                <area title="淡水" href="/games/{{session['games']['name']}}/eachstation?station=淡水" coords="113,78,173,113" shape="rect">
                <area title="民權西路" href="/games/{{session['games']['name']}}/eachstation?station=民權西路" coords="375,539,467,539,467,567,448,568,446,602,373,602" shape="poly">
                <area title="雙連" href="/games/{{session['games']['name']}}/eachstation?station=雙連" coords="334,613,409,644" shape="rect">
                <area title="中山" href="/games/{{session['games']['name']}}/eachstation?station=中山" coords="371,689,453,689,453,638,405,638,405,658,371,658" shape="poly">
                <area title="台北車站" href="/games/{{session['games']['name']}}/eachstation?station=台北車站" coords="370,695,370,774,421,774,421,750,465,749,464,694" shape="poly">
                <area title="台大醫院" href="/games/{{session['games']['name']}}/eachstation?station=台大醫院" coords="332,788,410,818" shape="rect">
                <area title="中正紀念堂" href="/games/{{session['games']['name']}}/eachstation?station=中正紀念堂" coords="334,912,419,911,418,833,373,833,375,875,333,875" shape="poly">
                <area title="東門" href="/games/{{session['games']['name']}}/eachstation?station=東門" coords="445,811,510,864" shape="rect">
                <area title="大安森林公園" href="/games/{{session['games']['name']}}/eachstation?station=大安森林公園" coords="510,798,572,863" shape="rect">
                <area title="大安" href="/games/{{session['games']['name']}}/eachstation?station=大安" coords="574,811,638,862" shape="rect">
                <area title="信義安和" href="/games/{{session['games']['name']}}/eachstation?station=信義安和" coords="643,810,644,862,676,862,676,839,708,838,707,809" shape="poly">
                <area title="台北101/世貿" href="/games/{{session['games']['name']}}/eachstation?station=台北101/世貿" coords="700,837,699,858,676,859,676,896,754,896,755,859,726,859,727,837" shape="poly">
                <area title="象山" href="/games/{{session['games']['name']}}/eachstation?station=象山" coords="743,810,787,861" shape="rect">
                <area title="松山" href="/games/{{session['games']['name']}}/eachstation?station=松山" coords="744,636,787,691" shape="rect">
                <area title="南京三民" href="/games/{{session['games']['name']}}/eachstation?station=南京三民" coords="678,638,742,687,471,886" shape="rect">
                <area title="台北小巨蛋" href="/games/{{session['games']['name']}}/eachstation?station=台北小巨蛋" coords="650,663,674,663,673,688,698,689,698,711,627,711,626,687,651,687" shape="poly">
                <area title="南京復興" href="/games/{{session['games']['name']}}/eachstation?station=南京復興" coords="663,648,664,631,575,631,575,692,616,692" shape="poly">
                <area title="松江南京" href="/games/{{session['games']['name']}}/eachstation?station=松江南京" coords="474,629,571,690" shape="rect">
                <area title="北門" href="/games/{{session['games']['name']}}/eachstation?station=北門" coords="265,692,342,726" shape="rect">
                <area title="西門" href="/games/{{session['games']['name']}}/eachstation?station=西門" coords="272,728,351,773" shape="rect">
                <area title="小南門" href="/games/{{session['games']['name']}}/eachstation?station=小南門" coords="305,827,358,880" shape="rect">
                <area title="古亭" href="/games/{{session['games']['name']}}/eachstation?station=古亭" coords="417,880,499,913" shape="rect">
                <area title="台電大樓" href="/games/{{session['games']['name']}}/eachstation?station=台電大樓" coords="469,914,565,947,564,961" shape="rect">
                <area title="公館" href="/games/{{session['games']['name']}}/eachstation?station=公館" coords="500,948,568,979" shape="rect">
                <area title="萬隆" href="/games/{{session['games']['name']}}/eachstation?station=萬隆" coords="531,980,598,1014" shape="rect">
                <area title="景美" href="/games/{{session['games']['name']}}/eachstation?station=景美" coords="559,1023,623,1058" shape="rect">
                <area title="大坪林" href="/games/{{session['games']['name']}}/eachstation?station=大坪林" coords="547,1071,640,1106" shape="rect">
                <area title="七張" href="/games/{{session['games']['name']}}/eachstation?station=七張" coords="559,1126,622,1158" shape="rect">
                <area title="新店區公所" href="/games/{{session['games']['name']}}/eachstation?station=新店區公所" coords="560,1171,673,1203" shape="rect">
                <area title="新店" href="/games/{{session['games']['name']}}/eachstation?station=新店" coords="558,1213,620,1241" shape="rect">
                <area title="南港展覽館" href="/games/{{session['games']['name']}}/eachstation?station=南港展覽館" coords="802,596,956,651" shape="rect">
                <area title="南港" href="/games/{{session['games']['name']}}/eachstation?station=南港" coords="848,656,941,696" shape="rect">
                <area title="昆陽" href="/games/{{session['games']['name']}}/eachstation?station=昆陽" coords="855,704,921,740" shape="rect">
                <area title="後山埤" href="/games/{{session['games']['name']}}/eachstation?station=後山埤" coords="839,741,890,801" shape="rect">
                <area title="永春" href="/games/{{session['games']['name']}}/eachstation?station=永春" coords="792,744,837,801" shape="rect">
                <area title="市政府" href="/games/{{session['games']['name']}}/eachstation?station=市政府" coords="731,747,792,798" shape="rect">
                <area title="國父紀念館" href="/games/{{session['games']['name']}}/eachstation?station=國父紀念館" coords="666,713,747,712,722,771,695,771" shape="poly">
                <area title="忠孝敦化" href="/games/{{session['games']['name']}}/eachstation?station=忠孝敦化" coords="617,746,695,798" shape="rect">
                <area title="忠孝復興" href="/games/{{session['games']['name']}}/eachstation?station=忠孝復興" coords="571,711,663,714,663,745,619,748,617,772,572,772" shape="poly">
                <area title="忠孝新生" href="/games/{{session['games']['name']}}/eachstation?station=忠孝新生" coords="477,713,566,774" shape="rect">
                <area title="善導寺" href="/games/{{session['games']['name']}}/eachstation?station=善導寺" coords="414,749,482,797" shape="rect">
                <area title="龍山寺" href="/games/{{session['games']['name']}}/eachstation?station=龍山寺" coords="159,727,257,774" shape="rect">
                <area title="江子翠" href="/games/{{session['games']['name']}}/eachstation?station=江子翠" coords="181,794,259,825" shape="rect">
                <area title="新埔(民生)" href="/games/{{session['games']['name']}}/eachstation?station=新埔(民生)" coords="100,838,244,879" shape="rect">
                <area title="板橋" href="/games/{{session['games']['name']}}/eachstation?station=板橋" coords="145,886,271,925" shape="rect">
                <area title="府中" href="/games/{{session['games']['name']}}/eachstation?station=府中" coords="149,944,215,977" shape="rect">
                <area title="亞東醫院" href="/games/{{session['games']['name']}}/eachstation?station=亞東醫院" coords="129,988,212,1033" shape="rect">
                <area title="南港軟體園區" href="/games/{{session['games']['name']}}/eachstation?station=南港軟體園區" coords="795,551,915,590" shape="rect">
                <area title="東湖" href="/games/{{session['games']['name']}}/eachstation?station=東湖" coords="857,505,913,540" shape="rect">
                <area title="葫洲" href="/games/{{session['games']['name']}}/eachstation?station=葫洲" coords="883,433,923,490" shape="rect">
                <area title="大湖公園" href="/games/{{session['games']['name']}}/eachstation?station=大湖公園" coords="821,429,879,482" shape="rect">
                <area title="內湖" href="/games/{{session['games']['name']}}/eachstation?station=內湖" coords="776,427,816,485" shape="rect">
                <area title="文德" href="/games/{{session['games']['name']}}/eachstation?station=文德" coords="726,429,772,483" shape="rect">
                <area title="港墘" href="/games/{{session['games']['name']}}/eachstation?station=港墘" coords="676,428,723,484" shape="rect">
                <area title="西湖" href="/games/{{session['games']['name']}}/eachstation?station=西湖" coords="629,428,671,484" shape="rect">
                <area title="劍南路" href="/games/{{session['games']['name']}}/eachstation?station=劍南路" coords="557,433,614,489" shape="rect">
                <area title="大直" href="/games/{{session['games']['name']}}/eachstation?station=大直" coords="581,505,642,537" shape="rect">
                <area title="松山機場" href="/games/{{session['games']['name']}}/eachstation?station=松山機場" coords="564,552,677,586" shape="rect">
                <area title="中山國中" href="/games/{{session['games']['name']}}/eachstation?station=中山國中" coords="577,590,683,631" shape="rect">
                <area title="新北產業園區" href="/games/{{session['games']['name']}}/eachstation?station=新北產業園區" coords="49,658,138,711" shape="rect">
                <area title="幸福" href="/games/{{session['games']['name']}}/eachstation?station=幸福" coords="13,722,77,753" shape="rect">
                <area title="頭前庄" href="/games/{{session['games']['name']}}/eachstation?station=頭前庄" coords="11,760,122,796" shape="rect">
                <area title="板新" href="/games/{{session['games']['name']}}/eachstation?station=板新" coords="248,928,310,962" shape="rect">
                <area title="中原" href="/games/{{session['games']['name']}}/eachstation?station=中原" coords="248,978,320,1010" shape="rect">
                <area title="橋和" href="/games/{{session['games']['name']}}/eachstation?station=橋和" coords="256,1032,291,1085" shape="rect">
                <area title="中和" href="/games/{{session['games']['name']}}/eachstation?station=中和" coords="304,1031,347,1089" shape="rect">
                <area title="景安" href="/games/{{session['games']['name']}}/eachstation?station=景安" coords="364,1009,427,1060" shape="rect">
                <area title="景平" href="/games/{{session['games']['name']}}/eachstation?station=景平" coords="428,1007,469,1059" shape="rect">
                <area title="秀朗橋" href="/games/{{session['games']['name']}}/eachstation?station=秀朗橋" coords="471,1032,538,1033,536,1063,493,1063,493,1086,468,1086" shape="poly">
                <area title="十四張" href="/games/{{session['games']['name']}}/eachstation?station=十四張" coords="494,1072,550,1131" shape="rect">
                <area title="先嗇宮" href="/games/{{session['games']['name']}}/eachstation?station=先嗇宮" coords="69,709,152,745" shape="rect">
                <area title="三重" href="/games/{{session['games']['name']}}/eachstation?station=三重" coords="136,652,187,706" shape="rect">
                <area title="菜寮" href="/games/{{session['games']['name']}}/eachstation?station=菜寮" coords="198,646,256,680" shape="rect">
                <area title="台北橋" href="/games/{{session['games']['name']}}/eachstation?station=台北橋" coords="235,607,314,640" shape="rect">
                <area title="大橋頭" href="/games/{{session['games']['name']}}/eachstation?station=大橋頭" coords="310,546,360,602" shape="rect">
                <area title="中山國小" href="/games/{{session['games']['name']}}/eachstation?station=中山國小" coords="470,545,470,571,454,572,452,600,554,600,553,546" shape="poly">
                <area title="行天宮" href="/games/{{session['games']['name']}}/eachstation?station=行天宮" coords="487,601,576,632" shape="rect">
                <area title="頂溪" href="/games/{{session['games']['name']}}/eachstation?station=頂溪" coords="339,939,402,971" shape="rect">
                <area title="永安市場" href="/games/{{session['games']['name']}}/eachstation?station=永安市場" coords="316,980,398,1019" shape="rect">
                <area title="南勢角" href="/games/{{session['games']['name']}}/eachstation?station=南勢角" coords="375,1075,448,1107" shape="rect">
            </map>
        </div>
    </div>
    <div class="row justify-content-center mt-5" id="scores">
        {% for i in data %}
        <div class='col-12 col-lg-7 d-flex justify-content-center mb-5'>
            <h3 class='team text-nowrap team-icon mt-2' style='background-color:{{i["color"]}}'>第{{data.index(i)}}小隊</h3>
            <div class="progress w-100 mt-4 ms-2">
                <div class="progress-bar" role="progressbar" style="width: {{i['counts']/total*100}}%" aria-valuenow="25" aria-valuemin="100" id="{{data.index(i)}}">{{i['counts']}}</div>
            </div>

            {%if 'games' in session%}
            {%if 'permission' in session['games'] and session['games']['permission']=='admin' %}
            <button class="btn btn-primary my-2 ms-2 me-2"  data-bs-toggle="modal" data-bs-target="#exampleModal{{data.index(i)}}plus">+</button>
            <div class="modal fade" id="exampleModal{{data.index(i)}}plus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">增加分數</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 d-flex justify-content-center">
                                <label for="pin{{i['name']}}delete" class="form-label me-3 pt-2">增加</label>
                                <input type="text" class="form-control" style="width:170px;" id="{{data.index(i)}}increase">
                                <label  class="form-label me-2 pt-2 ms-2">分</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel{{data.index(i)}}increase">取消</button>
                            <button onclick="edit('increase','{{data.index(i)}}')" class="btn btn-primary">送出</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{data.index(i)}}minus">-</button>
            <div class="modal fade" id="exampleModal{{data.index(i)}}minus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ex ampleModalLabel">減少分數</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 d-flex justify-content-center">
                                <label for="pin{{i['name']}}delete" class="form-label me-3 pt-2">扣</label>
                                <input type="text" class="form-control" style="width:170px;" id="{{data.index(i)}}decrease">
                                <label  class="form-label me-2 pt-2 ms-2">分</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel{{data.index(i)}}decrease">取消</button>
                            <button onclick="edit('decrease','{{data.index(i)}}')" class="btn btn-primary">送出</button>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endif%}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}
{% block extend_script %}
<script>
    function edit(type,team){
        value=document.getElementById(String(team)+type).value;
        var xhr=new XMLHttpRequest();
        xhr.open('get','/games/{{session["games"]["name"]}}/scores?team='+team+'&type='+type+'&value='+String(value),false);
        xhr.send();
        console.log(xhr.responseText);

        document.getElementById("cancel"+team+type).click();
        document.getElementById('scores').innerHTML=xhr.responseText;
    }
</script>
{% endblock extend_script %}