{% extends 'base.html' %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-lg-3 col-5 mt-3 d-inline-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                建立遊戲
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <form action="/games" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">建立遊戲</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{create_form.csrf_token()}}
                                <div class="mb-3 d-flex justify-content-center">
                                    {{create_form.name.label(class_='form-label me-2 pt-2')}}
                                    {{create_form.name(class_='form-control',style='width:170px;')}}
                                </div>
                                <div class="mb-3 d-flex justify-content-center">
                                    {{create_form.teamnumber.label(class_='form-label me-2 pt-2')}}
                                    <input id="teamnumber" name="teamnumber" class="form-control" style="width:170px;"
                                        type="number">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                {{create_form.submit(class_='btn btn-primary')}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-5 align-content-start" style="overflow:scroll;height:550px">
        {%for i in games %}
        <div class="col-12 col-md-8 mb-3" style="position:relative">
            <div class="card slide-1">
                <div class="card-body d-flex justify-content-between">
                    <span class="card-title h5">{{i['name']}}</span>
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{i['name']}}">
                            加入遊戲
                        </button>
                        <button class="delete-button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{i['name']}}delete">X</button>
                        <!-- Modal -->
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{i['name']}}delete" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">刪除遊戲</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 d-flex justify-content-center">
                                <label for="pin{{i['name']}}delete" class="form-label me-2 pt-2">pin</label>
                                <input type="text" class="form-control" style="width:170px;"
                                    id="pin{{i['name']}}delete">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button onclick="send('{{i['name']}}','delete');" class="btn btn-primary">送出</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{i['name']}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">加入遊戲</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class=" d-flex justify-content-center mt-2">
                                <label for="pin{{i['name']}}join" class="form-label me-2 pt-2">pin</label>
                                <input type="text" class="form-control" style="width:170px;" id="pin{{i['name']}}join">
                            </div>
                            <br>
                            <p style="color: rgb(255, 106, 106);font-size:13px">*請輸入遊戲創建時所生成的pin碼（不同pin會有不同權限）</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button onclick="send('{{i['name']}}','join');" class="btn btn-primary">送出</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {%endfor%}
    </div>
</div>
{% endblock main_content %}
{% block extend_script %}
<script>
    function send(name, method) {
        pin = document.getElementById('pin' + name + method);
        location.href = '/games?method=' + method + "&name=" + name + "&pin=" + pin.value;
    }
</script>
{% endblock extend_script %}