<!doctype html>
<html lang="en">
    <head>
        <title>捷大網站</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS v5.2.0-beta1 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8">
                    <img src="/static/img/routemap_2021.png" width="960" height="1286" usemap="#MRTMap">
                    <map name="MRTMap">
                        <area title="淡水" href="/eachstation?station=淡水" coords="113,78,173,113" shape="rect">
                        <area title="紅樹林" href="/eachstation?station=紅樹林" coords="95,129,170,162" shape="rect">
                        <area title="竹圍" href="/eachstation?station=竹圍" coords="111,177,168,212" shape="rect">
                        <area title="關渡" href="/eachstation?station=關渡" coords="108,221,167,255" shape="rect">
                        <area title="忠義" href="/eachstation?station=忠義" coords="163,253,198,309" shape="rect">
                        <area title="復興崗" href="/eachstation?station=復興崗" coords="200,254,248,310" shape="rect">
                        <area title="北投" href="/eachstation?station=北投" coords="251,252,292,310" shape="rect">
                        <area title="奇岩" href="/eachstation?station=奇岩" coords="294,252,331,310" shape="rect">
                        <area title="唭哩岸" href="/eachstation?station=唭哩岸" coords="333,252,382,309" shape="rect">
                        <area title="石牌" href="/eachstation?station=石牌" coords="384,283,441,314" shape="rect">
                        <area title="明德" href="/eachstation?station=明德" coords="384,326,441,361" shape="rect">
                        <area title="芝山" href="/eachstation?station=芝山" coords="384,372,444,405" shape="rect">
                        <area title="士林" href="/eachstation?station=士林" coords="384,417,443,451" shape="rect">
                        <area title="劍潭" href="/eachstation?station=劍潭" coords="386,464,441,496" shape="rect">
                        <area title="圓山" href="/eachstation?station=圓山" coords="385,506,450,538" shape="rect">
                        <area title="民權西路" href="/eachstation?station=民權西路" coords="375,539,467,539,467,567,448,568,446,602,373,602" shape="poly">
                        <area title="雙連" href="/eachstation?station=雙連" coords="334,613,409,644" shape="rect">
                        <area title="中山" href="/eachstation?station=中山" coords="371,689,453,689,453,638,405,638,405,658,371,658" shape="poly">
                        <area title="台北車站" href="/eachstation?station=台北車站" coords="370,695,370,774,421,774,421,750,465,749,464,694" shape="poly">
                        <area title="台大醫院" href="/eachstation?station=台大醫院" coords="332,788,410,818" shape="rect">
                        <area title="中正紀念堂" href="/eachstation?station=中正紀念堂" coords="334,912,419,911,418,833,373,833,375,875,333,875" shape="poly">
                        <area title="東門" href="/eachstation?station=東門" coords="445,811,510,864" shape="rect">
                        <area title="大安森林公園" href="/eachstation?station=大安森林公園" coords="510,798,572,863" shape="rect">
                        <area title="大安" href="/eachstation?station=大安" coords="574,811,638,862" shape="rect">
                        <area title="信義安和" href="/eachstation?station=信義安和" coords="643,810,644,862,676,862,676,839,708,838,707,809" shape="poly">
                        <area title="台北101/世貿" href="/eachstation?station=台北101/世貿" coords="700,837,699,858,676,859,676,896,754,896,755,859,726,859,727,837" shape="poly">
                        <area title="象山" href="/eachstation?station=象山" coords="743,810,787,861" shape="rect">
                        <area title="松山" href="/eachstation?station=松山" coords="744,636,787,691" shape="rect">
                        <area title="南京三民" href="/eachstation?station=南京三民" coords="678,638,742,687,471,886" shape="rect">
                        <area title="台北小巨蛋" href="/eachstation?station=台北小巨蛋" coords="650,663,674,663,673,688,698,689,698,711,627,711,626,687,651,687" shape="poly">
                        <area title="南京復興" href="/eachstation?station=南京復興" coords="663,648,664,631,575,631,575,692,616,692" shape="poly">
                        <area title="松江南京" href="/eachstation?station=松江南京" coords="474,629,571,690" shape="rect">
                        <area title="北門" href="/eachstation?station=北門" coords="265,692,342,726" shape="rect">
                        <area title="西門" href="/eachstation?station=西門" coords="272,728,351,773" shape="rect">
                        <area title="小南門" href="/eachstation?station=小南門" coords="305,827,358,880" shape="rect">
                        <area title="古亭" href="/eachstation?station=古亭" coords="417,880,499,913" shape="rect">
                        <area title="台電大樓" href="/eachstation?station=台電大樓" coords="469,914,565,947,564,961" shape="rect">
                        <area title="公館" href="/eachstation?station=公館" coords="500,948,568,979" shape="rect">
                        <area title="萬隆" href="/eachstation?station=萬隆" coords="531,980,598,1014" shape="rect">
                        <area title="景美" href="/eachstation?station=景美" coords="559,1023,623,1058" shape="rect">
                        <area title="大坪林" href="/eachstation?station=大坪林" coords="547,1071,640,1106" shape="rect">
                        <area title="七張" href="/eachstation?station=七張" coords="559,1126,622,1158" shape="rect">
                        <area title="新店區公所" href="/eachstation?station=新店區公所" coords="560,1171,673,1203" shape="rect">
                        <area title="新店" href="/eachstation?station=新店" coords="558,1213,620,1241" shape="rect">
                        <area title="南港展覽館" href="/eachstation?station=南港展覽館" coords="802,596,956,651" shape="rect">
                        <area title="南港" href="/eachstation?station=南港" coords="848,656,941,696" shape="rect">
                        <area title="昆陽" href="/eachstation?station=昆陽" coords="855,704,921,740" shape="rect">
                        <area title="後山埤" href="/eachstation?station=後山埤" coords="839,741,890,801" shape="rect">
                        <area title="永春" href="/eachstation?station=永春" coords="792,744,837,801" shape="rect">
                        <area title="市政府" href="/eachstation?station=市政府" coords="731,747,792,798" shape="rect">
                        <area title="國父紀念館" href="/eachstation?station=國父紀念館" coords="666,713,747,712,722,771,695,771" shape="poly">
                        <area title="忠孝敦化" href="/eachstation?station=忠孝敦化" coords="617,746,695,798" shape="rect">
                        <area title="忠孝復興" href="/eachstation?station=忠孝復興" coords="571,711,663,714,663,745,619,748,617,772,572,772" shape="poly">
                        <area title="忠孝新生" href="/eachstation?station=忠孝新生" coords="477,713,566,774" shape="rect">
                        <area title="善導寺" href="/eachstation?station=善導寺" coords="414,749,482,797" shape="rect">
                        <area title="龍山寺" href="/eachstation?station=龍山寺" coords="159,727,257,774" shape="rect">
                        <area title="江子翠" href="/eachstation?station=江子翠" coords="181,794,259,825" shape="rect">
                        <area title="新埔(民生)" href="/eachstation?station=新埔(民生)" coords="100,838,244,879" shape="rect">
                        <area title="板橋" href="/eachstation?station=板橋" coords="145,886,271,925" shape="rect">
                        <area title="府中" href="/eachstation?station=府中" coords="149,944,215,977" shape="rect">
                        <area title="亞東醫院" href="/eachstation?station=亞東醫院" coords="129,988,212,1033" shape="rect">
                        <area title="南港軟體園區" href="/eachstation?station=南港軟體園區" coords="795,551,915,590" shape="rect">
                        <area title="東湖" href="/eachstation?station=東湖" coords="857,505,913,540" shape="rect">
                        <area title="葫洲" href="/eachstation?station=葫洲" coords="883,433,923,490" shape="rect">
                        <area title="大湖公園" href="/eachstation?station=大湖公園" coords="821,429,879,482" shape="rect">
                        <area title="內湖" href="/eachstation?station=內湖" coords="776,427,816,485" shape="rect">
                        <area title="文德" href="/eachstation?station=文德" coords="726,429,772,483" shape="rect">
                        <area title="港墘" href="/eachstation?station=港墘" coords="676,428,723,484" shape="rect">
                        <area title="西湖" href="/eachstation?station=西湖" coords="629,428,671,484" shape="rect">
                        <area title="劍南路" href="/eachstation?station=劍南路" coords="557,433,614,489" shape="rect">
                        <area title="大直" href="/eachstation?station=大直" coords="581,505,642,537" shape="rect">
                        <area title="松山機場" href="/eachstation?station=松山機場" coords="564,552,677,586" shape="rect">
                        <area title="中山國中" href="/eachstation?station=中山國中" coords="577,590,683,631" shape="rect">
                        <area title="新北產業園區" href="/eachstation?station=新北產業園區" coords="49,658,138,711" shape="rect">
                        <area title="幸福" href="/eachstation?station=幸福" coords="13,722,77,753" shape="rect">
                        <area title="頭前庄" href="/eachstation?station=頭前庄" coords="11,760,122,796" shape="rect">
                        <area title="板新" href="/eachstation?station=板新" coords="248,928,310,962" shape="rect">
                        <area title="中原" href="/eachstation?station=中原" coords="248,978,320,1010" shape="rect">
                        <area title="橋和" href="/eachstation?station=橋和" coords="256,1032,291,1085" shape="rect">
                        <area title="中和" href="/eachstation?station=中和" coords="304,1031,347,1089" shape="rect">
                        <area title="景安" href="/eachstation?station=景安" coords="364,1009,427,1060" shape="rect">
                        <area title="景平" href="/eachstation?station=景平" coords="428,1007,469,1059" shape="rect">
                        <area title="秀朗橋" href="/eachstation?station=秀朗橋" coords="471,1032,538,1033,536,1063,493,1063,493,1086,468,1086" shape="poly">
                        <area title="十四張" href="/eachstation?station=十四張" coords="494,1072,550,1131" shape="rect">
                        <area title="先嗇宮" href="/eachstation?station=先嗇宮" coords="69,709,152,745" shape="rect">
                        <area title="三重" href="/eachstation?station=三重" coords="136,652,187,706" shape="rect">
                        <area title="菜寮" href="/eachstation?station=菜寮" coords="198,646,256,680" shape="rect">
                        <area title="台北橋" href="/eachstation?station=台北橋" coords="235,607,314,640" shape="rect">
                        <area title="大橋頭" href="/eachstation?station=大橋頭" coords="310,546,360,602" shape="rect">
                        <area title="中山國小" href="/eachstation?station=中山國小" coords="470,545,470,571,454,572,452,600,554,600,553,546" shape="poly">
                        <area title="行天宮" href="/eachstation?station=行天宮" coords="487,601,576,632" shape="rect">
                        <area title="頂溪" href="/eachstation?station=頂溪" coords="339,939,402,971" shape="rect">
                        <area title="永安市場" href="/eachstation?station=永安市場" coords="316,980,398,1019" shape="rect">
                        <area title="南勢角" href="/eachstation?station=南勢角" coords="375,1075,448,1107" shape="rect">
                    </map>
                </div>
            </div>
        </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>