{% extends 'base.html' %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center text-center" style="height: 80vh;">
        <div class="col">
            <h1 id="result" style="font-size: 60px"></h1>
            <button onclick="randomnumber();" class="btn btn-primary" style="font-size: 50px;border-radius:30px">隨機數字</button>
        </div>
    </div>
</div>

<script>
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }
    function randomnumber(){
        result=document.getElementById('result');
        result.innerText=getRandomInt(4)+1;
    }
</script>
{% endblock main_content%}